/*Affects entire site*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
}

h2 {
    font-size: 32px;
    text-align: center;
}

/*Affects Contact*/
form {
    text-align: center;
}

input[type=text] {
    text-align: center;
    width: 50%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 8px;
    box-sizing: border-box
}

input[type=submit] {
    width: 50%;
    background-color: #3b913e;
    color: white;
    padding: 18px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/*Lightbox*/
.row > .column {
    padding: 0 8px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

/*Creates four equal columns that float next to each other*/
.column {
    float: left;
    width: 25%;
}

/*Modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(110, 110, 110);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 40%;
    max-width: 1200px;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
    background-color: rgb(110, 110, 110);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgba(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;
}

.prev {
    left: 0;
    border-radius: 0 6px 6px 0;
}

.next {
    right: 0;
    border-radius: 6px 0 0 6px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,.6);
}

.numbertext {
    color: #f2f2f2;
    background-color: rgba(0,0,0,.2);
    border-radius: 0 0 4px 0;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: rgba(110,110,110);
    padding: 2px 16px;
    color: rgba(255, 255, 255);
    font-weight: bold;
}

img.demo {
    opacity: 0.5;
    width: 100%;
}

.demo:hover {
    opacity: 1;
    cursor: pointer;
    border: 1px solid rgba(255,255,255, .4);
}

.thumb {
    width: 100%;
    transition: .3s;
}

.thumb:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    border-radius: 20px;
    cursor: pointer;
}

